$primary-color: #c1d998;
$secondary-color: #d7e4d1;
$highlight-color: #1c3b2f;
$accent-color: #e69e7f;
$text-color: #333;
$light-text: #777;
$bg-light: #f1f6ef;
$bg-dark: #d8e5d2;
$white: #fff;
$black: #000;
