$primary-color: #3498db;
$secondary-color: #2ecc71;
$highlight-color: #f1c40f;
$accent-color: #e74c3c;
$text-color: #333;
$light-text: #777;
$bg-light: #f0f0f0;
$bg-dark: #222;
$white: #fff;
$black: #000;
