@use './variables' as var;

.category-scroll {
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  // padding: 0.5rem;
  white-space: nowrap;

  .category-button {
    background: #d2e4c4;
    border: none;
    padding: 15px 20px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    &:hover {
      background: #bcd4a7;
    }

    &.active {
      background: #1c3b2f;
      color: white;
    }
  }
}
