@use './variables' as var;

.search-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #f3f6f4;
  border-radius: 33px;
  width: 100%;
  max-width: 400px;

  input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background: transparent;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
}
